<div id="sliderFrame">
    <div id="ribbon"></div>
    <div id="slider">
        <img src="/assets/drbyrens.png" />
        <img src="/assets/richardson.png" />
        <img src="/assets/sleuth5.png" />
        <img src="/assets/wilson.png" />
        <img src="/assets/code1.png" />
    </div>
    <div id="htmlcaption" style="display: none;">
        <em>HTML</em> caption. Link to <a href="http://www.google.com/">Google</a>.
    </div>
</div>
<div id="welcome">
	<h1>Hoist your banner</h1>
		<p>Don't get a business solution that's like every other ship in the fleet. With our custom content management solutions, professional graphics, acute marketing and sound design, you'll have what you need to raise your flag.</p>
</div>
<div id="leftContent">
	<h1><%= link_to 'Web Design', web_path %></h1>
	<div id="webImage"></div>
		<p>With our custom-content, data-base driven web applications you can update, edit, and display information custom-build for your website- all with updates you can perform yourself.</p>
</div>
<div id="leftContent">
	<h1><%= link_to 'Print/Graphic Design', print_path %></h1>
	<div id="printImage"></div>
			<p>Our graphic design professionals can design and create anything from logos and letterhead to brochures, menus, and more.</p>
</div>
<div id="leftContent">
	<h1><%= link_to 'Branding/Marketing', branding_path %></h1>
	<div id="brandImage"></div>
			<p>Make sure your company flies everything under the same flag. Our custom built solutions align all the ships in your fleet- including web, print, ads, and more- so that everyone in the open waters will recognize you.</p>
</div>