<div id="mainContent">
	<%= image_tag('/assets/bssribbon.png')%>
<h1>Business solutions that let you hoist</h1>
<h1 style="margin-top:-20px; color:#330066;">YOUR BANNER</h1>
<h2>Don't get a business solution that's like every other ship in the fleet. Our custom-content solutions for your business provide:</h2>
<ul>
<li>Database driven web applications: Your content where (and when) you need it, displaying on multiple devices</li>
<li>Content Management: Update, edit, and destroy content on your time, on your terms.</li>
<li>Custom Graphic Solutions: No templates and "cookie cutters" here- your colors, your logo, and your graphics on all your business media including brochures, newsletters, and more.</li>
</ul>
<h1 style="background:#bdbdbd; padding-left: 10px;">HOIST YOUR BANNER TODAY!</h1>
<h2>We want to target your customers with your entire arsenal. Our solutions provide:</h2>
<ul style="width: 490px; float: left;">
<li>Fresh, unique information that keep your website new and interesting.</li>
<li>Unified marketing solutions to approach your customers under the same banner with the same message.</li>
<li>Marketing solutions across a wide variety of media to get your message out there.</li>
<li>Search Engine Optimization, analytics, and customer feedback to make sure that your message is being heard.</li>
</ul>
<div id="contactimage"><%= image_tag ("/assets/bssad.png") %></div>
</div>