<h1>Print Solutions</h1>
	<p>Offering a wide range of options, print solutions including brochures, logos, invitations, pamphlets, PDFs, stationery, and much more combine to develop the identity and provide information about your business, organization, or special event.</p>
 <%= render '/samples/sample_list' %>