/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body {
	background-color: #acacac;
	font-family: "Segoe UI", Candara,"Bitstream Vera Sans","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
}
#wrapper {
	margin: auto;
	width: 1000px;
	background-color: #acacac;
}
nav a {
	font-size: x-large;
	color: #000000;
	text-decoration: underline;
	float: right;
	padding-right: 10px;
}
#banner {
	width: 1000px;
	height: 150px;
}
#welcome {
	width: 390px;
	height: 400px;
	float: left;
	margin-left: 40px;
	font-size: x-large;
	font-style: italic;
	font-family: "Segoe UI", Candara,"Bitstream Vera Sans","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
}
#mainContent p {
	font-size: small;
}
#leftContent {
	width: 300px;
	float: left;
	margin-left: 20px;
	margin-right: 12px;
	background: #4c4c4c;
	margin-bottom: 10px;
	min-height: 350px;
}
#leftContent h1 {
	text-align: center;
}
#leftContent p {
	text-align: center;
	font-size: small;
	padding-left: 5px;
	padding-right: 5px;
}
#contactContent {
	clear: both;
	width: 1000px;
	margin: auto;
	padding-left: 10px;
	color: #000;
}
#contactContent h1 {
	font-style: italic;
	font-size: x-large;
}
#contactContent p {
	font-size: small;
}
footer {
	width: 1000px;
	height: 15px;
	text-align: center;
	padding-top: 20px;
	color: #000000;
	background: #4c4c4c;
	clear: both;
	font-size: x-small;
	font-family: "Segoe UI", Candara,"Bitstream Vera Sans","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
}
#thanks {
	font-size: 12px;
	color: #000;
	font-family: "Segoe UI", Candara,"Bitstream Vera Sans","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	padding-right: 10px;
	margin-top: 15px;
	height: 200px;
}
#thanks h1 {
	font-size: x-large;
	font-style: italic;
	clear: both;
	padding-left: 10px;
}
#thanks p {
	padding-left: 10px;
}
/*Contact Form*/
fieldset {
	width: 300px;
	border: none;
	background: #4c4c4c;
	margin-bottom: 5px;
}
.submit {
	padding-bottom: 10px;
}
input {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E6E6E6), to(#B2B2B2));
 	background-image: -moz-linear-gradient(19% 75% 90deg,#B2B2B2, #E6E6E6);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
textarea {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E6E6E6), to(#B2B2B2));
 	background-image: -moz-linear-gradient(19% 75% 90deg,#B2B2B2, #E6E6E6);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
section.submit input {
	width: 60px;
	height: 30px;
	margin-left: 15px;
}
#googleMap {
	width: 400px;
	float:right;
	clear: none;
	margin-top: -430px;
	padding-right: 20px;
}
#contactContent {
	width: 600px;
	clear: both;
}
/*Login*/
.login {
	margin-left: 40px;
	word-spacing: 20px;
}
.login a {
	color: #000;
}
.login span {
	color: #000;
	font-size: 10px;
	word-spacing: 0px;
}