<section id="thanks">
	<h1>Thank you Turnkey Merchandise!</h1>
		<p style="font-size: 16px;">Meggie-</p>
		<p>I appreciate your taking the time to review my resume, quizzes, and portfolio. I look forward to hearing from you about opportunities at Turnkey Merchandise! You can check out my responses to the HTML quiz below, as well as a link to my graphics quiz.</p>
		<p>Sincerely-</p>
		<p style="font-style: italic;">Patrick Lighthall</p>
		<ul>
		  <li type="square">Test</li>
		  <li type="square">Test</li>
		</ul>
		<ul style="margin-left: 20px;">  
		  <li type="a">Test1</li>
		  <li type="a">Test1</li>
		</ul>
		<table border="1" width="100%">
		  <tr>
		    <th>Patrick</th>
		    <th>Lighthall</th>
		  </tr>
		  <tr>
			<th colspan="2">
				<table border="1" width="100%">
					<tr style="height:60px;">
					<td>T</td>
					<td>A</td>
					<td>B</td>
					<td>L</td>
					<td>E</td>
					</tr>
				</table>
			</th>
		  </tr>
		</table>
		<div id="thanksLeft" style="width:490px; height:60px; float:left; border:1px solid black;">
			<p>Hello world!</p>
			<p>I love CSS</p>
		</div><!-- end thanksLeft -->
		<div id="thanksLeft" style="width:490px; height:60px; float:left; border:1px solid black;">
			<p>I love HTML!</p>
		</div><!-- end thanksLeft -->
		<div id="thanksLeft" style="width:800px; float:left;">
		<p>Here is a hyperlink to: <%= link_to "Imagine Toys", "http://www.imaginetoys.com/", :target => '_blank' %></p>
		<p>The difference between an absolute and relative URL is very important. Absolute URLs are used to link web pages that are on different servers. Relative URLs are paths within the same server that link pages. For example: www.blacksailsstudio.com and www.imaginetoys.com are absolute URLs. However, pointing to a file within this site (such as the logo image), you would use a relative URL, as it is relative to this site and on this server.</p>
		<p>An example of a relative URL is available below by clicking on "View".</p>
		</div>
		<p class=”myText  firstParagraph” style="color:blue; clear:both;">Hello World</p>

		<p class=”myText  secondParagraph” style="color:blue; text-decoration:underline;">I love CSS</p>
		<div id="thanksLeft" style="width:800px; float:left;">
		<p> When I need to properly code CSS for IE 7, I use the stylesheet link tag in the head of my application, then I put the IE 7 specific CSS in that stylesheet and render it only when IE 7 is being used.</p>
		<p>You can view or download my graphics quiz, which contains the URL (www.sleuth5.com) to a blog I coded and designed for my wife: <%= link_to "View", "/assets/EmailBannerQuiz.pdf" %> | <%= link_to "Download", "/assets/EmailBannerQuiz.pdf" %></p>
		</div>
</section>
