<section id="thanks">
	<h1>Thank you Mack Accounting!</h1>
		<p style="font-size: 16px;">Michelle-</p>
		<p>Thanks for letting me design your logo, I hope it works well on all your marketing and materials!</p>
		<p>Sincerely-</p>
		<p style="font-style: italic;">Patrick</p>
</section>
