<section id="thanks">
	<h1>Thank you Larry Bullard!</h1>
		<p style="font-size: 16px;">Larry-</p>
		<p>I appreciate your taking the time to chat with me on the phone about the graphic design position, as well as reviewing my qualifications. I look forward to hearing from you soon!</p>
		<p>Have a great Monday!</p>
		<p>Sincerely-</p>
		<p style="font-style: italic;">Patrick Lighthall</p>
</section>
<div id="contactimage"><%= image_tag ("/assets/bssthanks.png") %></div>
