<section id="thanks">
	<h1>Thank you Lisa!</h1>
		<p style="font-size: 16px;">Lisa-</p>
		<p>I wanted to thank you for taking the time to chat with me about all the great things happening at Ideomed. I love the idea of working with chronic disease patients to improve their lives through efficient, fluid, and beautiful technology solutions using Ruby on Rails, practical design, and stunning graphics.</p>
		<p>I believe that my background in design and web development combine with my experience working in the medical field, superior work ethic, and unwavering professionalism to make me the ideal candidate.</p>
		<p>I look forward to hearing from you soon.</p>
		<p>Sincerely-</p>
		<p style="font-style: italic;">Patrick Lighthall</p>
</section>
<div id="contactimage"><%= image_tag ("/assets/bssthanks.png") %></div>
