<section id="thanks">
	<h1>Thank you Chris!</h1>
		<p style="font-size: 16px;">Chris-</p>
		<p>I wanted to thank you once again for meeting with me this week about the marketing needs at Renaissance Dental.</p>
		<p>It sounds like you and your team are working on great things at Renaissance and my particular skills would be a great asset. My diverse background allows me to write effective, efficient content in any media, understand the needs of web and print graphics content, the demands of color processes on printing, meeting with clients and coworkers to understand and define their goals, brainstorm and generate fresh ideas, and provide solutions that convert and keep customers.</p>
		<p>If you have any questions please don't hesitate to contact me via the Contact form or send me an email. Have a great rest of the week and I look forward to hearing from you soon.</p>
		<p>Sincerely-</p>
		<p style="font-style: italic;">Patrick Lighthall</p>
</section>
<div id="contactimage"><%= image_tag ("/assets/bssthanks.png") %></div>
