<section id="thanks">
	<h1>Thank you Publicom!</h1>
		<p style="font-size: 16px;">Lisa-</p>
		<p>I appreciate your taking the time to review my resume, cover letter, and portfolio. I look forward to hearing from you about opportunities at Publicom!</p>
		<p>Sincerely-</p>
		<p style="font-style: italic;">Patrick Lighthall</p>
</section>
