<section id="thanks">
	<h1>Thank you Stone Plastics!</h1>
		<p style="font-size: 16px;">Kevin, Joel and Mark-</p>
		<p>I wanted to thank the three of you for sitting down with me to discuss your RoR needs at Stone Plastics. I appreciated you're taking time out of your busy work schedule to review and discuss my resume, portfolio, and credentials.</p>
		<p>I found that chatting with all of you about RoR, development, and your project needs both relaxing and enjoyable. I was grateful to finally sit down face to face with you to discuss what Stone Plastics was looking for as they move forward with their new build.</p>
		<p>After meeting with you I feel confident that I would be able to help design, develop, and implement your ambitious and exciting RoR application for use in house. As we discussed, please feel free to email me through this web site (or using patrick.lighthall@gmail.com) if you have any further questions.</p>
		<p>Thank you all again for your time, I look forward to hearing from you!</p>
		<p>Sincerely-</p>
		<p style="font-style: italic;">Patrick</p>
</section>
