<section id="thanks">
	<h1>Thank you Lisa!</h1>
		<p style="font-size: 16px;">Lisa, Kristi, Chris, and Shahzeb-</p>
		<p>Lisa- Thank you once again for giving me a tour of your Ann Arbor facility and letting me chat with you Friday morning. I enjoyed learning more about the company and where you guys are heading!</p>
		<p>Kristi- It was great meeting you! I had a great time chatting with you about work, life, philosophy, and children. I always enjoy doing the "photos of kids swap" whenever possible. I hope that things are slowing down for you now that school is officially underway!</p>
		<p>Chris and Shahzeb- I wanted to thank you both for taking time out of your schedule to chat with me about all things Ruby on Rails. While I was unsure at the time, I appreciated your exercise as it got me thinking about the most DRY approach to add that particular weather solution to an application. I enjoy hearing in more detail about the application and what you guys have been working on at Ideomed, it's all very exciting!</p>
		<p>I hope you all had a great weekend and have a great Monday!</p>
		<p>Sincerely-</p>
		<p style="font-style: italic;">Patrick Lighthall</p>
</section>
<div id="contactimage"><%= image_tag ("/assets/bssthanks.png") %></div>
