<h1>Web Solutions</h1>
	<p>Featuring user-centric design and custom content management solutions, your business or organization can arm your ship with exactly what you need to reach your audience on your terms.</p>
 <%= render '/samples/sample_list' %>
